body {
    /* FONT */
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* HEADER */

.header {
    background-color: #1f2937;
    color: #F9FAF8;

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;

}

.link-container {
    display: flex;
    gap: 1em;
}

.header-logo {
    font-size: 24px;
}

.secondary-text {
    color: #E5E7EB;
    font-size: 18px;
}


/* FIRST BODY */

.body-one {
    background-color: #1f2937;

    padding: 5em;
    gap: 1em;

    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

}

.text-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    gap: 1em;
}

img {
    display: flex;
    width: 300px;
    height: auto;
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.sign-up {
    background-color: #3882F6;
    color: #F9FAF8;
    
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 7px;
    
    width: 100px;
    height: auto;
}

/* body-two */

.body-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1em;
    padding: 1em;
}

.img-container {
    display: flex;
}

.one, .two, .three, .four {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin: 1em
}

.info-header {
    font-size: 32px;
    font-weight: bolder;
    color: #1F2937;
}

.img-text {
    color: #4B5563;
    font-size: 15px;
}

.img {
    height: 100px;
    width: 100px;
    background-color: #1F2937;
}